.chatbot-icon {
    position: fixed; /* Para que sea persistente en la pantalla */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    cursor: pointer;
    width: 50px; /* Ajusta el tamaño del icono */
    height: 50px;
    border-radius: 50%; /* Para hacerlo circular */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Opcional: sombra */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Para que el fondo del div no tape el color del SVG */
  }
  
  .chatbot-icon svg {
    width: 100%;
    height: 100%;
  }