/* src/components/Header.css */
.header-container {
    background-color: #FFFFF0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  .header-logo {
    margin-left: 2%;
    top: 14px;
  }
  .header-logo img {
    max-width: 70px;         
    width: 100%;              
    height: auto;         
   }
  
  .header-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .header-nav a {
    text-decoration: none;
    color: #333;
  }
  
  .header-cta .btn-primary {
    background-color: #3d5afe;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Geologica Black', sans-serif;
  }
  