.hero-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: #2E2E2E;
}

.hero-top {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero-content {
  max-width: 50%;
  margin-top: 5%;
  text-align: left; 
}

.hero-categories {
  font-size: 1rem;
  color: #A19E9E;
  font-weight: 400;
  text-align: left;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 1rem;
  color: #fff;
  margin-top: 0;
  text-align: left;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #A19E9E;
}

.btn-primary {
  background-color: #3d5afe;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.button-and-trial-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trial-info {
  margin-top: 0.5rem;
  color: #666;
  max-width: 30%;
}

/* Imagen del laptop */
.hero-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.hero-image{
  margin-right: -4%;
}

/* Fila inferior */
.hero-bottom {
  display: flex;
  justify-content: center;
  margin-top: 2rem; 
}

.hero-bottom img {
  max-width: 70%;
  height: auto;
}
