
.testimonials-section {
    background-color: #FFFFF0;  
    padding: 4rem 2rem;      
  }
  
  .testimonials-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Encabezado */
  .testimonials-heading {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    text-align: left;  

  }

  .highlight-red {
    background-color: #FF6F61; 
    color: #fff;
    padding: 0.2rem 0.5rem;    
    border-radius: 8px;        
    display: inline-block;     
  }
  
  /* Grid de testimonios */
  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
    align-items: start;
  }
  
  /* Cada tarjeta */
  .testimonial-card {
    background-color: #FFFFF0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .testimonial-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem; 
    line-height: 1.4;
  }
  
  .author-info {
    align-items: center;
    gap: 1rem; 
  }
  
  /* Foto del autor */
  .author-photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  

  .author-name {
    font-weight: 700;
    color: #333;
  }
  
  .author-position {
    font-size: 0.9rem;
    color: #666;
  }
 